.heading-1{
    font-size: 54px;
    font-weight: 600;
    
}
.heading-2{
    font-size: 40px;
    font-weight: 600;
    
}
.heading-3{
    font-size: 30px;
    font-weight: 600;
    
}
.text-1-bold{
    font-size: 22px;
    font-weight: 600;
    
}
.text-1{
    font-size: 22px;
    font-weight: 400;
    
}
.text-2-bold{
    font-size: 16px;
    font-weight: 600;
    
}
.text-2{
    font-size: 16px;
    font-weight: 600;
    
}
.text-3-bold{
    font-size: 12px;
    font-weight: 600;
    
}
.text-3{
    font-size: 12px;
    font-weight: 600;
    
}
